@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  background-color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
 
  margin-top : 2px;
  margin-bottom : 2px;

  font-size: small;


}

