@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {

  font-family: 'Poppins', sans-serif;
 
  margin-top : 2px;
  margin-bottom : 2px;



}


html{
  font-size: small;
}